<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container mt-5">
    <div class="aler alert-info display-1 text-center">
        <img src="{%static 'images/images.jpg' %}"width=100px alt="">
        DJANGP SHOP
    </div>
    <div class="row">
<div class="col"><a href=/electronica class="btn p-3 btn-info w-100">Electrónica</a></div>
<div class="col"><a href=/juguetes class="btn p-3 btn-info w-100">Juguestes</a></div>
<div class="col"><a href=/ropa class="btn p-3 btn-info w-100">Ropa</a></div>

    </div>

    <br>
    <div class="row">
        <div class="col"><a href=/autos class="btn p-3 btn-info w-100"> APP2</a></div>
    </div>

</body>
</html>