<!DOCTYPE html>
{%load static%}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style > 
    .c1{
        margin-left: 40%;
        display: none;
        
    }
    .c2{
        margin-left: 40%;
        display: inline;
    }
    
    </style>
</head>
<body class="container mt-5">
    <div class="aler alert-info display-1 text-center">
        <img src="{%static 'images/logo.png' %}"width=100px alt="">
        Autos Nissan
    </div>
    <br>
    <div class="row">
<div class="col"><a href=/S13 class="btn p-3 btn-info w-100">S13</a></div>
<div class="col"><a href=/R33 class="btn p-3 btn-info w-100">R33</a></div>
<div class="col"><a href=/350z class="btn p-3 btn-info w-100">350z</a></div>
<div class="col"><a href=/240z class="btn p-3 btn-info w-100">240z</a></div>


    </div>
<br>
<br>
    <div  id="ar" class="{{card}}">
        <div class="card" style="width: 18rem;">
            <img src= "{%static src%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{Modelo}}</h5>
            
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Motor: {{motor}}</li>
              <li class="list-group-item">Color: {{color}}</li>
              <li class="list-group-item">Año: {{año}}</li>
              <li class="list-group-item">HP: {{HP}}</li>
            </ul>
            
          </div>
    </div>
    <a href="/" class="btn btn-info mt-5">Volver</a>
</body>
</html>